********************************************************************************
*                      {{ linux_login_banner_org | upper }} - DIGITAL SECURITY
*
* This system is the exclusive property of {{ linux_login_banner_org }}
* and/or its authorised clients.
* Unauthorized access is strictly prohibited and will be prosecuted.
*
* This system is for authorised users only. All activity is monitored
* and recorded. By continuing, you consent to this monitoring.
*
* Hostname: 
  |  OS: \s   |  Date: \d 	
********************************************************************************
