********************************************************************************
*                      {{ linux_login_banner_org | upper }} - DIGITAL SECURITY
*
* This system is the exclusive property of {{ linux_login_banner_org }}
* and/or its authorised clients.
* Unauthorized access is strictly prohibited and will be prosecuted.
*
* This system is for authorised users only.
* Individuals using this system without authority, or in excess of their
* authority, are subject to having all activities monitored and recorded.
*
* Welcome to {{ ansible_hostname }} - {{ linux_login_banner_org }} protects you.
********************************************************************************
