// APT periodic auto-upgrade settings
// Managed by Ansible role linux_unattended_upgrades_ubuntu

APT::Periodic::Update-Package-Lists "{{ linux_unattended_upgrades_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ linux_unattended_upgrades_download_upgradeable }}";
APT::Periodic::AutocleanInterval "{{ linux_unattended_upgrades_autoclean_interval }}";
APT::Periodic::Unattended-Upgrade "1";
