********************************************************************************
*                           CYBERAAR – DIGITAL SECURITY                        *
*                                                                              *
* Unauthorized access prohibited – All activity monitored and recorded.        *
* This system is for authorized use only.                                      *
*                                                                              *
* Welcome to {{ ansible_hostname }}                                            *
********************************************************************************
