********************************************************************************
*                           CYBERAAR – DIGITAL SECURITY                        *
*                                                                              *
* This system is the exclusive property of CyberAar and/or its clients.        *
* Unauthorized access is strictly prohibited and will be prosecuted.           *
*                                                                              *
* This system is for the use of authorized users only.                         *
* Individuals using this computer system without authority, or in excess of    *
* their authority, are subject to having all of their activities on this       *
* system monitored and recorded by system personnel.                           *
*                                                                              *
* Welcome to {{ ansible_hostname }} – CyberAar protects you.                   *
********************************************************************************
