********************************************************************************
*                           CYBERAAR – DIGITAL SECURITY                        *
*                                                                              *
* You are logged into {{ ansible_hostname }}.                                  *
* All sessions are monitored and recorded.                                     *
* Unauthorized use is prohibited.                                              *
*                                                                              *
* System information:                                                          *
*   - OS: {{ ansible_distribution }} {{ ansible_distribution_version }}        *
*   - Kernel: {{ ansible_kernel }}                                             *
*   - Uptime: {{ ansible_uptime_seconds | int / 3600 }} hours                  *
*   - Last login: {{ ansible_last_login | default('unknown') }}                *
*                                                                              *
* For support: contact CyberAar team                                           *
* Date/Time: {{ ansible_date_time.iso8601 }}                                   *
********************************************************************************
