********************************************************************************
*                           CYBERAAR – DIGITAL SECURITY                        *
*                                                                              *
* You are logged into {{ ansible_hostname }}.                                  *
* All sessions are monitored and recorded.                                     *
* Unauthorized use is prohibited.                                              *
*                                                                              *
* For support: contact CyberAar team                                           *
********************************************************************************
